// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
    margin-top: 20px;
    margin-left: 300px;
    padding: 100 100 15px;
    width: 300px;
    border-color: #CCC;
    border-width: 1px 1px;
    border-style: solid;
 }

.box h3 {

    color: #380B61;
    font-size: 17px;
    height: 35px;
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
  
 }
.box h2 {

    color: #000;
    font-size: 15px;
    height: 35px;
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
  
 }
 /* The paragraph tag contains the side borders mark-up */

 
.box table {
    border-collapse: collapse;
         width: 100%;


}

.box1 {
    margin-top: -470px;
    margin-left: 800px;
    padding: 80 10 1px;
    width: 300px;
    height: 262px;
    border-color: #CCC;
    border-width: 1px 1px;
    border-style: solid;
 }

.box1 h3 {

    color: #380B61;
    font-size: 17px;
    height: 35px;
    line-height: 30px;

    padding: 0 15px;
  
 }
.box1 h2 {

    color: #000;
    font-size: 15px;
    height: 35px;
    line-height: 30px;

    padding: 0 15px;
  
 }
 /* The paragraph tag contains the side borders mark-up */

 
.box1 table {
    border-collapse: collapse;
         width: 100%;


}
.boxx {
    margin-top: 500px;
    margin-left: 600px;
    padding: 100 100 15px;
    width: 300px;
    height: 380px;
    border-color: #CCC;
    border-width: 1px 1px;
    border-style: solid;
 }

.boxx h3 {

    color: #380B61;
    font-size: 17px;
    height: 20px;
    line-height: 30px;
    padding: 0 15px;
  
 }
.boxx h2 {

    color: #000;
    font-size: 15px;
    height: 35px;
    line-height: 30px;

    padding: 0 15px;
  
 }
 /* The paragraph tag contains the side borders mark-up */

 
.boxx table {
    border-collapse: collapse;
         width: 100%;


}
#list {
 border-top-color:green; 
}

.table,th,td {
width: 100px;
}

  

  

  

