// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cont {
margin-left: 600px;
margin-top: -400px;
} 
#cont1 {
margin-left: 600px;
margin-top: -5px;
}
#cont2 {
margin-left: 10px;
margin-top: 80px;
}
#cont2 ul {
list-style-type: none;
}
.body {
	background-color: #D8CEF6;
	
	}

 
