<p id="notice"><%= notice %></p>

<p>
  <strong>Card type:</strong>
  <%= @order.card_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>


<p>
  <strong>Status:</strong>
  <%= @order.order_status.status %>
</p>


