<h3>Contact Us <h3>

<%= image_tag "map.png" , size: "400x400" %>
<div id = "cont">
<h4> If you would like to get in touch with us you can contact us here: </h4>
</div>
<div id = "cont1">
<font color = "Navy" ><h4>Address:</h4></font>
<h5> No.1, Kamakshipuram 2nd Street, West Mambalam, Chennai 600033, No. 1, Postal Colony 2nd St, Postal Colony, West Mambalam, Chennai, Tamil Nadu</h5>
<div>


<div id="cont2">
<ul>
<li><p><h4>Phone:</h4>9008636658</p></li>
<li><p><h4>Email:</h4>ushaambig@railsfactory.org</p></li>
<li><p><h4>Website:</h4>www.railsfactory.org</p></li>
</ul>
<div>
