<div class="footer">
	<div class="container login-wrap">
		<div class="row">
		  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <p>Copyright &copy; Digital-AdMyWords 2014 <%= link_to image_tag('home.jpeg', width: '40', height: '40', alt: ""),  root_path %>
<%= link_to "About Us", static_pages_about_us_path %>
                    <%= link_to "Contact Us", static_pages_contact_us_path %></p>
                </div>
		  </div>		  
		</div>
	</div>
</div>
