<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
<div id="tabs">

<ul>
<li><a href="#tabs-1"><%= link_to 'Dashboard', search_dashboards_path, :remote => true %></a></li>
<li><a href="#tabs-2"><%= link_to "My Cart", carts_path, :remote => true %></a></li>
<li><a href="#tabs-3"><%= link_to "my orders",orders_path, :remote => true %></a></li>
</ul>
</div>
<div id ="ad">

</div>

