<p id="notice"><%= notice %></p>
<div id="carts-show">
<p>
  <strong>Status:</strong>
  <%= @cart.status %>
</p>


<p>
  <strong>Monitor:</strong>
  <%= @cart.device.name %>
</p>

</div>
<div id="div_id"></div>


